<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net40" />
  <package id="Codestellation.DarkFlow" version="0.2.49" targetFramework="net40" />
  <package id="LightInject" version="3.0.2.6" targetFramework="net40" />
  <package id="ManagedEsent" version="1.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NLog" version="2.0.1.2" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="SharpTestsEx" version="1.1.1" />
  <package id="Shouldly" version="2.5.0" targetFramework="net40" />
</packages>